@charset "UTF-8";
/*Обнуление*/
@import url("../fonts/stylesheet.css");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@media (max-width: 1200px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }
  .header__burger span {
    background: linear-gradient(80deg, red 0%, #ffa900 70%);
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before, .header__burger:after {
    content: '';
    background: linear-gradient(80deg, red 0%, #ffa900 70%);
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Слайд */
.slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
.slick-arrow {
  font-size: 0;
  position: absolute;
  z-index: 10;
  top: 50%;
}

@media (max-width: 380px) {
  .slick-arrow {
    opacity: 0.5;
  }
}

/* Стрелка влево */
.slick-arrow.slick-prev {
  left: 0;
  background: url("../img/main/financial-indicators/arrows-right.svg") no-repeat;
  background-position: center center;
  background-size: contain;
  width: 50px;
  height: 50px;
}

/* Стрелка вправо */
.slick-arrow.slick-next {
  right: 0;
  background: url("../img/main/financial-indicators/arrows-left.svg") no-repeat;
  background-position: center center;
  background-size: contain;
  width: 50px;
  height: 50px;
}

/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
.slider-financial .slick-arrow.slick-next {
  right: 0;
  background: url("../img/main/financial-indicators/arrows-left.svg") no-repeat;
  background-position: center center;
  background-size: contain;
  width: 50px;
  height: 50px;
}

.slider-financial .slick-arrow.slick-prev {
  left: 0;
  background: url("../img/main/financial-indicators/arrows-right.svg") no-repeat;
  background-position: center center;
  background-size: contain;
  width: 50px;
  height: 50px;
}

._container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  position: relative;
}

body {
  background: #000;
  font-family: 'Loew Next', 'Arial';
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
}

span {
  color: #ffa600;
  font-weight: 1000;
}

.title {
  font-size: 60px;
  color: orange;
  font-weight: 1000;
  text-shadow: 2px 3px 0px white;
}

@media (max-width: 950px) {
  .title {
    font-size: 40px;
  }
}

.button {
  cursor: pointer;
  padding: 25px 35px;
  border: 1px solid #fff;
  border-radius: 15px;
  display: inline-block;
  -webkit-transition: background 0.6s ease 0s;
  transition: background 0.6s ease 0s;
  -webkit-box-shadow: 0 5px 0 #fff;
          box-shadow: 0 5px 0 #fff;
  position: relative;
  top: 0;
  color: #fff;
  font-weight: 700;
}

@media (max-width: 850px) {
  .button {
    border: 0;
    font-size: 15px;
    background: orange;
    -webkit-box-shadow: 0 5px 0 #855702;
            box-shadow: 0 5px 0 #855702;
  }
  .button:hover {
    border: 1px solid #000;
    background: #bb7a01;
  }
}

@media (max-width: 850px) and (max-width: 350px) {
  .button {
    padding: 15px 35px;
  }
}

@media (min-width: 850px) {
  .button:hover {
    background: url("../img/main/button/1.gif") center no-repeat;
    background-size: cover;
  }
}

.button:active {
  top: 3px;
}

.feedback {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(1, 1, 1, 0.5);
  z-index: 100;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
}

.feedback__container {
  padding: 50px;
  background: #1d1d1d;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
}

@media (max-width: 500px) {
  .feedback__container {
    padding: 20px;
  }
}

@media (max-width: 500px) and (max-width: 320px) {
  .feedback__container {
    padding: 10px;
  }
}

.feedback__exit {
  position: absolute;
  top: 30px;
  right: 20px;
  width: 30px;
  height: 100%;
}

.feedback__exit span {
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(80deg, red 0%, #ffa900 70%);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.feedback__exit span:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(80deg, red 0%, #ffa900 70%);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.feedback__title {
  margin: 40px 0px 10px 0px;
  font-size: 20px;
}

.feedback__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 0px 30px 0px;
  padding: 5px;
}

.feedback__item._error input {
  -webkit-box-shadow: 0 0 15px red;
          box-shadow: 0 0 15px red;
}

.feedback__label {
  margin: 0px 0px 5px 0px;
}

.feedback__control {
  background: #1d1d1d;
  width: 350px;
  height: 35px;
  border-bottom: 1px solid #ff9900;
  color: #fff;
}

@media (max-width: 500px) {
  .feedback__control {
    width: 250px;
  }
}

.feedback__error {
  display: none;
  font-size: 13px;
  margin: 30px 0px 0px 0px;
}

.feedback__error-hide {
  display: block;
}

.feedback__submit {
  margin: 30px 0px 0px 0px;
}

.feedback__submit-button {
  width: 250px;
  height: 50px;
  border-radius: 30px;
  background: white;
  color: #000;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
  -webkit-box-shadow: 0 5px 0 #a3a2a2;
          box-shadow: 0 5px 0 #a3a2a2;
  -webkit-transition: background 0.4s ease 0s;
  transition: background 0.4s ease 0s;
  position: relative;
  top: 0;
}

.feedback__submit-button:hover {
  background: #757575;
  border: 1px solid #fff;
}

.feedback__submit-button:active {
  -webkit-box-shadow: 0;
          box-shadow: 0;
  top: 3px;
}

.feedback__success-message {
  display: none;
}

.feedback__success-message.active {
  display: block;
}

.header {
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99;
}

.header.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(29, 29, 29, 0.7);
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 50px;
  font-family: 'Rounds';
}

.header__logo a {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 70px;
  height: 70px;
}

.header__burger {
  position: relative;
  z-index: 11;
}

.menu {
  position: relative;
  z-index: 10;
}

@media (max-width: 1200px) {
  .menu {
    position: fixed;
    bottom: -10000px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1d1d1d;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
  .menu.active {
    bottom: 0px;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list > *:not(:last-child) {
  margin: 0px 20px 0px 0px;
}

@media (max-width: 1200px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 100px 0px;
  }
  .menu__list > *:not(:last-child) {
    margin: 0px 0px 20px 0px;
  }
}

.menu__item {
  font-size: 18px;
  font-weight: 500;
}

.menu__item a {
  color: white;
}

@media (max-width: 920px) {
  .menu__item a {
    font-size: 25px;
  }
}

.menu__item a:hover {
  color: orange;
}

.menu__item-logo {
  display: none;
}

.menu__item-logo img {
  width: 80px;
  height: 80px;
}

.menu__item-logo.active {
  display: block;
}

.teplo-brand {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(1, 1, 1, 0.7)), to(rgba(1, 1, 1, 0.7))), url("../img/main/teplo-brand/bg.jpg") no-repeat;
  background: linear-gradient(rgba(1, 1, 1, 0.7), rgba(1, 1, 1, 0.7)), url("../img/main/teplo-brand/bg.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  padding: 90px 0 110px 0;
}

.teplo-brand__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  top: 100px;
  opacity: 0;
}

.teplo-brand__container.active {
  top: 0;
  opacity: 1;
}

.teplo-brand__title {
  padding: 30px 0 0 0;
  font-size: 100px;
  font-family: 'Rounds';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 750px) {
  .teplo-brand__title {
    font-size: 75px;
  }
}

@media (max-width: 750px) and (max-width: 540px) {
  .teplo-brand__title {
    font-size: 50px;
    text-align: center;
  }
}

.teplo-brand__logo img {
  width: 100px;
  height: 100px;
}

@media (max-width: 750px) {
  .teplo-brand__logo img {
    width: 75px;
    height: 75px;
  }
}

@media (max-width: 750px) and (max-width: 540px) {
  .teplo-brand__logo img {
    width: 50px;
    height: 50px;
  }
}

.teplo-brand__text {
  font-weight: 900;
  font-size: 20px;
  line-height: 1.2;
}

@media (max-width: 750px) {
  .teplo-brand__text {
    font-size: 15px;
  }
}

.teplo-brand__text span {
  font-size: 100px;
  line-height: 0.5;
  font-weight: 1000;
  display: block;
  margin: 0px 0px 10px 0px;
}

@media (max-width: 750px) {
  .teplo-brand__text span {
    font-size: 75px;
  }
}

@media (max-width: 750px) and (max-width: 540px) {
  .teplo-brand__text span {
    font-size: 50px;
  }
}

@media (max-width: 750px) and (max-width: 540px) and (max-width: 350px) {
  .teplo-brand__text span {
    font-size: 40px;
  }
}

.teplo-brand__body {
  margin: 30px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 620px) {
  .teplo-brand__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.teplo-brand__button {
  margin: 0 0px 50px 0;
}

.teplo-brand__num-magazine {
  font-weight: 700;
  background: #1d1d1d;
  padding: 30px;
  border-radius: 15px;
  -webkit-box-shadow: 0 5px 0 #000;
          box-shadow: 0 5px 0 #000;
}

.what-teplo {
  padding: 30px 0	60px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(1, 1, 1, 0.3)), to(rgba(1, 1, 1, 0.3))), url("../img/main/bg.png") no-repeat;
  background: linear-gradient(rgba(1, 1, 1, 0.3), rgba(1, 1, 1, 0.3)), url("../img/main/bg.png") no-repeat;
  background-position: center center;
  background-size: cover;
}

.what-teplo__container {
  position: relative;
  top: 100px;
  opacity: 0;
}

.what-teplo__container.active {
  top: 0;
  opacity: 1;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.what-teplo__text {
  margin: 30px 0px 0px 0px;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
}

@media (max-width: 750px) {
  .what-teplo__text {
    font-size: 15px;
  }
}

.what-teplo__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.what-teplo__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0px 0px 0px;
  width: 100%;
}

@media (max-width: 1100px) {
  .what-teplo__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.what-teplo__items > *:not(:last-child) {
  margin: 0 30px 0px 0px;
}

@media (max-width: 1100px) {
  .what-teplo__items > *:not(:last-child) {
    margin: 0 0px 30px 0px;
  }
}

.what-teplo__item {
  background: #1d1d1d;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 0;
  padding: 30px;
  left: -100px;
  max-width: 500px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  opacity: 0;
  font-size: 20px;
  line-height: 1.2;
  -webkit-box-shadow: 0 7px 0 #000;
          box-shadow: 0 7px 0 #000;
  border: 1px solid #313131;
}

.what-teplo__item.one.active {
  left: 0;
  opacity: 1;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.what-teplo__item.two.active {
  left: 0;
  opacity: 1;
  -webkit-transition: all 0.8s ease 0.3s;
  transition: all 0.8s ease 0.3s;
}

.what-teplo__item.three.active {
  left: 0;
  opacity: 1;
  -webkit-transition: all 0.8s ease 0.6s;
  transition: all 0.8s ease 0.6s;
}

@media (max-width: 750px) {
  .what-teplo__item {
    font-size: 15px;
  }
}

.what-teplo__item-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 80px 0 0px 0;
  text-align: center;
}

.what-teplo__item-img {
  position: absolute;
  top: 20px;
}

.what-teplo__item-img.teplo img {
  max-width: 85px;
  max-height: 85px;
}

@media (max-width: 750px) {
  .what-teplo__item-img.teplo img {
    max-width: 70px;
    max-height: 70px;
  }
}

.what-teplo__item-img img {
  max-width: 70px;
  max-height: 70px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 750px) {
  .what-teplo__item-img img {
    max-width: 65px;
    max-height: 65px;
  }
}

.why-we {
  padding: 0px 0 0px 0;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(1, 1, 1, 0.7)), to(rgba(1, 1, 1, 0.7))), url("../img/main/why-we/bg.jpg") no-repeat;
  background: linear-gradient(rgba(1, 1, 1, 0.7), rgba(1, 1, 1, 0.7)), url("../img/main/why-we/bg.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 7;
  min-height: 1000px;
}

.why-we__container {
  top: 100px;
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.why-we__container.active {
  top: 0;
  opacity: 1;
}

.why-we__title {
  padding: 30px 0 0px;
}

.why-we__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 0 0;
  z-index: 5;
}

@media (max-width: 750px) {
  .why-we__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.why-we__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.column_why-we__item {
  padding: 10px;
}

.column_why-we__number {
  color: #ffa600;
  text-shadow: 0 5px 0 white;
  font-size: 90px;
  font-weight: 1000;
  z-index: 0;
  position: relative;
  left: 100%;
  bottom: 100%;
  opacity: 0;
  -webkit-transition: all 0.8s ease 0.4s;
  transition: all 0.8s ease 0.4s;
  display: inline-block;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.column_why-we__number.active {
  opacity: 1;
  left: 0;
  bottom: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.column_why-we__text {
  font-size: 20px;
  padding: 15px;
}

@media (max-width: 890px) {
  .column_why-we__text {
    font-size: 15px;
  }
}

.franchise-packages {
  padding: 30px 0px 80px 0;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(1, 1, 1, 0.3)), to(rgba(1, 1, 1, 0.3))), url("../img/main/bg.png") no-repeat;
  background: linear-gradient(rgba(1, 1, 1, 0.3), rgba(1, 1, 1, 0.3)), url("../img/main/bg.png") no-repeat;
  background-position: center center;
  background-size: cover;
}

.franchise-packages::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 136, 0, 0.3);
}

@media (max-width: 750px) {
  .franchise-packages::before {
    width: 100%;
    height: 42%;
  }
}

.franchise-packages__container {
  position: relative;
}

.franchise-packages__title {
  position: relative;
  z-index: 10;
  opacity: 0;
  -webkit-transform: translate(0, 150px);
          transform: translate(0, 150px);
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.franchise-packages__title.active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.franchise-packages__body {
  margin: 20px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
  position: relative;
}

.franchise-packages__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 9;
}

.column-packages {
  font-size: 25px;
  margin: 30px 0px 0px 0px;
}

.column-packages__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 100px 60px;
  border-radius: 30px;
  background: #1d1d1d;
  -webkit-box-shadow: 0 7px 0 #000;
          box-shadow: 0 7px 0 #000;
  border: 1px solid #313131;
  margin: 0 30px 0 30px;
  position: relative;
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.column-packages__body.active {
  opacity: 1;
}

.column-packages__body > *:not(:last-child) {
  margin: 0px 0px 40px 0px;
}

@media (max-width: 850px) {
  .column-packages__body {
    margin: 60px 0px 0px 0px;
  }
}

.column-packages__body.right {
  right: -100px;
}

.column-packages__body.right.active {
  right: 0;
}

.column-packages__button {
  padding: 25px 35px;
  font-size: 15px;
  font-weight: 500;
  max-width: 400px;
}

@media (max-width: 450px) {
  .column-packages__button {
    padding: 15px 35px;
    font-size: 10px;
  }
}

.column-packages__name-pack {
  font-size: 40px;
  background: orange;
  padding: 10px;
  position: absolute;
  top: -20px;
  left: -20px;
  padding: 20px 30px;
  border-radius: 20px;
  -webkit-animation: name 1s infinite alternate;
          animation: name 1s infinite alternate;
  -webkit-box-shadow: 0 5px 0 #d68c02;
          box-shadow: 0 5px 0 #d68c02;
  text-shadow: 0 5px 0 #000;
}

@media (max-width: 850px) {
  .column-packages__name-pack {
    font-size: 25px;
  }
}

@media (max-width: 850px) {
  .column-packages__name-pack {
    padding: 10px 15px;
  }
}

@-webkit-keyframes name {
  from {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
}

@keyframes name {
  from {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
}

.column-packages__price {
  font-size: 24px;
}

@media (max-width: 850px) {
  .column-packages__price {
    font-size: 20px;
  }
}

.financial-indicators {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(1, 1, 1, 0.7)), to(rgba(1, 1, 1, 0.7))), url("../img/main/financial-indicators/bg.jpg") no-repeat;
  background: linear-gradient(rgba(1, 1, 1, 0.7), rgba(1, 1, 1, 0.7)), url("../img/main/financial-indicators/bg.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  padding: 60px 0 60px 0;
  min-width: 0;
}

.financial-indicators__title {
  opacity: 0;
  position: relative;
  top: 100px;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.financial-indicators__title.active {
  top: 0;
  opacity: 1;
}

@media (max-width: 370px) {
  .financial-indicators__title {
    font-size: 30px;
  }
}

.financial-indicators__body {
  margin: 30px 0 0 0;
  opacity: 0;
  position: relative;
  left: 100px;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.financial-indicators__body.active {
  left: 0;
  opacity: 1;
}

.financial-indicators__body {
  line-height: 1.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.financial-indicators__item-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
  padding: 20px;
  background: #1d1d1d;
  border-radius: 30px;
}

.financial-indicators__item-body > *:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

.financial-indicators__item-body > *:first-child {
  margin: 0px 0px 35px 0px;
}

.financial-indicators__item {
  text-align: center;
  font-size: 25px;
}

.financial-indicators__item span {
  font-size: 15px;
}

@media (max-width: 580px) {
  .financial-indicators__item span {
    font-size: 10px;
  }
}

@media (max-width: 580px) {
  .financial-indicators__item {
    font-size: 20px;
  }
}

.financial-indicators__item:first-child {
  font-size: 35px;
  padding: 20px 30px;
  border-radius: 15px;
  background: orange;
  text-shadow: 0 5px 0 #000;
}

@media (max-width: 580px) {
  .financial-indicators__item:first-child {
    padding: 10px 15px;
    font-size: 25px;
  }
}

.invest {
  padding: 30px 0px 80px 0;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(1, 1, 1, 0.3)), to(rgba(1, 1, 1, 0.3))), url("../img/main/bg.png") no-repeat;
  background: linear-gradient(rgba(1, 1, 1, 0.3), rgba(1, 1, 1, 0.3)), url("../img/main/bg.png") no-repeat;
  background-position: center center;
  background-size: cover;
}

.invest__title {
  position: relative;
  z-index: 10;
  top: 100px;
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.invest__title.active {
  opacity: 1;
  top: 0;
}

.invest__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.invest__column {
  z-index: 9;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.invest-column-packages {
  opacity: 0;
  font-size: 25px;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 0px 0px 0px;
}

.invest-column-packages.active {
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  opacity: 1;
}

.invest-column-packages__body {
  text-align: center;
  border-radius: 30px;
  background: orange;
  -webkit-box-shadow: 0 7px 0 #be7c02;
          box-shadow: 0 7px 0 #be7c02;
  border: 1px solid #313131;
  padding: 30px 50px;
  text-shadow: 0 2px 0 #000;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 80%;
          flex: 0 1 80%;
  font-weight: 700;
}

.invest-column-packages__item-list > *:not(:last-child) {
  margin: 0px 0px 40px 0px;
}

.invest-column-packages__name-pack {
  font-size: 50px;
  text-shadow: 0 5px 0 #000;
  margin: 0px 0px 20px 0px;
}

@media (max-width: 850px) {
  .invest-column-packages__name-pack {
    font-size: 40px;
  }
}

.uniform {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(1, 1, 1, 0.7)), to(rgba(1, 1, 1, 0.7))), url("../img/main/uniform/bg.jpg") no-repeat;
  background: linear-gradient(rgba(1, 1, 1, 0.7), rgba(1, 1, 1, 0.7)), url("../img/main/uniform/bg.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  padding: 50px 0px;
}

.uniform__title {
  opacity: 0;
  position: relative;
  top: 100px;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.uniform__title.active {
  opacity: 1;
  top: 0;
}

.uniform__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  opacity: 0;
  right: 100px;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.uniform__body.active {
  opacity: 1;
  right: 0;
}

.uniform__item-uniform {
  position: relative;
}

.uniform__item-uniform img {
  max-width: 100%;
}

.shope {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(1, 1, 1, 0.3)), to(rgba(1, 1, 1, 0.3))), url("../img/main/bg.png") no-repeat;
  background: linear-gradient(rgba(1, 1, 1, 0.3), rgba(1, 1, 1, 0.3)), url("../img/main/bg.png") no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 50px 0px;
}

.shope__container {
  position: relative;
  top: 100px;
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.shope__container.active {
  opacity: 1;
  top: 0;
}

.shope__slider {
  position: relative;
}

.shope__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shope__item h4 {
  text-shadow: 0 3px 0 orange;
  font-size: 20px;
}

@media (max-width: 430px) {
  .shope__item h4 {
    font-size: 13px;
  }
}

.shope__item img {
  max-height: 500px;
  border-radius: 15px;
}

@media (max-width: 780px) {
  .shope__item img {
    max-height: 400px;
  }
}

@media (max-width: 780px) and (max-width: 580px) {
  .shope__item img {
    max-height: 300px;
    max-width: 280px;
  }
}

.maps__title {
  text-align: center;
  padding: 0 0 30px 0;
}

.feedback-visable {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(1, 1, 1, 0.9)), to(rgba(1, 1, 1, 0.9))), url("../img/main/feedback-visable/bg.jpg") no-repeat;
  background: linear-gradient(rgba(1, 1, 1, 0.9), rgba(1, 1, 1, 0.9)), url("../img/main/feedback-visable/bg.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  padding: 50px 0;
}

.feedback-visable__title {
  margin: 40px 0px 10px 0px;
  text-align: center;
  font-size: 15px;
  line-height: 1.2;
}

.feedback-visable__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feedback-visable__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 30px 0px;
  padding: 5px;
  width: 350px;
}

.feedback-visable__item._error input {
  -webkit-box-shadow: 0 0 15px red;
          box-shadow: 0 0 15px red;
}

.feedback-visable__item textarea {
  max-width: 350px;
  min-width: 350px;
  min-height: 150px;
  max-height: 150px;
}

@media (max-width: 380px) {
  .feedback-visable__item textarea {
    max-width: 250px;
    min-width: 250px;
    min-height: 150px;
    max-height: 150px;
  }
}

.feedback-visable__label {
  margin: 0px 0px 5px 0px;
}

.feedback-visable__control {
  background: rgba(29, 29, 29, 0.5);
  width: 350px;
  height: 35px;
  border-bottom: 1px solid #ff9900;
  color: #fff;
}

@media (max-width: 500px) {
  .feedback-visable__control {
    width: 250px;
  }
}

.feedback-visable__error {
  display: none;
  font-size: 13px;
  margin: 30px 0px 0px 0px;
}

.feedback-visable__error-hide {
  display: block;
}

.feedback-visable__submit {
  margin: 30px 0px 0px 0px;
}

.feedback-visable__submit-button {
  width: 250px;
  height: 50px;
  border-radius: 30px;
  background: white;
  color: #000;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
  -webkit-box-shadow: 0 5px 0 #a3a2a2;
          box-shadow: 0 5px 0 #a3a2a2;
  -webkit-transition: background 0.4s ease 0s;
  transition: background 0.4s ease 0s;
  position: relative;
  top: 0;
}

.feedback-visable__submit-button:hover {
  background: #757575;
  border: 1px solid #fff;
}

.feedback-visable__submit-button:active {
  -webkit-box-shadow: 0;
          box-shadow: 0;
  top: 3px;
}

.feedback-visable__success-message {
  display: none;
}

.feedback-visable__success-message.active {
  display: block;
}

.footer {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(1, 1, 1, 0.3)), to(rgba(1, 1, 1, 0.3))), url("../img/main/bg.png") no-repeat;
  background: linear-gradient(rgba(1, 1, 1, 0.3), rgba(1, 1, 1, 0.3)), url("../img/main/bg.png") no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 30px 0;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 550px) {
  .footer__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 550px) {
  .footer__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .footer__column:nth-child(1) {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .footer__column:nth-child(2) {
    display: block;
  }
}

.footer__column > *:not(:last-child) {
  margin: 0 0 15px 0;
}

.footer__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.footer__item img {
  width: 50px;
  height: 50px;
}

.footer__item img:hover {
  -webkit-animation: name 0.3s infinite alternate;
          animation: name 0.3s infinite alternate;
}

.create {
  padding: 10px 0;
}

.create__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  opacity: 0.5;
}
